{include file='public::header'}
{include file='public::nav'}

<!-- 关于我们 -->
<div class="aboutus container">
    <img src="/static/images/aboutus.jpg" width="100%" />
    <div class="aboutus-info">
        <h1>企业简介</h1>
        <p>广州联检认证技术开发服务有限公司，成立于2011年，公司依托于各省质检院及国家电网下属的实验室，为电力行业设备制造企业提供产品检测认证咨询、型式试验代理等方面的服务。经过多年的精耕细作，现公司业务已遍布全国，成为高压电气检测咨询服务行业的龙头企业。</p>
        <p>我们秉承着“以诚为本、以信兴业”的宗旨，培养富有实干精神的高效率、高品质的队伍；已客户需求为我们的目标，以“诚信、服务、高效”为我们的桥梁，为客户提供专业、可靠、满意的服务平台。</p>
        <ul class="row qyjj">
            <li class="col-md-3 col-xs-6"><img src="/static/images/jybg27.jpg" /></li>
            <li class="col-md-3 col-xs-6"><img src="/static/images/jybg28.jpg" /></li>
            <li class="col-md-3 col-xs-6"><img src="/static/images/jybg30.jpg" /></li>
            <li class="col-md-3 col-xs-6"><img src="/static/images/jybg31.jpg" /></li>
        </ul>
    </div>
    <div class="aboutus-info">
        <h1>合作实验室</h1>
        <ul class="work-test">
            <li>国家智能电网输配电设备质量监督检验中心/广东省质量监督高压输配电设备检验站</li>
            <li>国家电器产品质量监督检验中心/苏州电器科学研究院股份有限公司</li>
            <li>国家高低压电器质量监督检验中心/甘肃电器科学研究院</li>
            <li>国家电器安全质量监督检验中心/浙江方圆电气设备检测有限公司</li>
            <li>机械工业高压电器设备质量检测中心/辽宁高压电器产品质量检测有限公司</li>
            <li>机械工业高压输配电设备质量检测中心/上海电气输配电试验中心有限公司</li>
            <li>国家节能产品质量监督检验中心/山东省产品质量监督检验研究院</li>
            <li><b>合作认证中心：</b></li>
            <li>电能（北京）产品认证中心（PCCC）</li>
            <li>中国质量认证中心（CQC）</li>
            <li>方圆标志认证中心（CQM）</li>
            <li>广东质检中诚认证（CTC）</li>
        </ul>
        <div class="row qyjj">
            <ul>
                <li class="col-md-3 col-xs-6"><img src="/static/images/jybg29.jpg" /></li>
                <li class="col-md-3 col-xs-6"><img src="/static/images/jybg32.jpg" /></li>
                <li class="col-md-3 col-xs-6"><img src="/static/images/jybg33.png" /></li>
                <li class="col-md-3 col-xs-6"><img src="/static/images/jybg37.jpg" /></li>
            </ul>
        </div>
    </div>
    <div class="aboutus-info">
        <h1>服务范围：</h1>
        <ul>
            <li><b>一、高压产品型式试验代理：</b></li>
            <li>1、	变压器及箱变类（10kV、20kV、35kV、110kV、220kV）</li>
            <li class="tin-2">电力变压器S11、S13、SCB10、SCB11、SCB12、SCB13、SH15、SCBH15组合式变压器（美变）：10kV美变、风力用美变、光伏用美变 预装式变电站（欧变）YB□、风力用欧变、光伏用欧变</li>
            <li>2、	高压成套（各类开关柜）：</li>
            <li class="tin-2">中置柜（KYN28、KYN61）、固定柜（XGN2、XGN66）及户内断路器（VS1/ZN63、ZN85）环网柜（SF6半绝缘XGN15、真空型HXGN17、充气柜、固体柜、氮气柜等）及其主要元件，电缆分支箱DFW、户外开闭所XGW</li>
            <li>3、	高压元器件</li>
            <li class="tin-2">柱上断路器ZW8、ZW20、ZW23、ZW32、SF6断路器 LW□</li>
            <li class="tin-2">柱上负荷开关FZW28、FLW34</li>
            <li class="tin-2">隔离开关：户外型GW、户内型GN</li>
            <li class="tin-2">户外熔断器：跌落式RW、拉负荷式RW-12F、喷射式PRW</li>
            <li class="tin-2">避雷器：无间隙避雷器HY5WS、跌落式避雷器</li>
            <li class="tin-2">绝缘子</li>
            <li><b>二、认证技术咨询</b></li>
            <li class="tin-2">国家强制性产品安全认证CCC、高压自愿性认证、国家电力系统PCCC、节能认证、产品鉴定等</li>
            <li class="tin-2">企业愿景：成为高压电气行业标准输出者；</li>
            <li class="tin-2">企业使命：振兴电力企业，帮助企业高速发展；</li>
            <li class="tin-2">企业价值观：标准、高效、用心</li>
            <li><b>服务保障：</b></li>
            <li class="tin-2">提供咨询、检测、认证一条龙服务</li>
            <li class="tin-2">不攻击同行，不诋毁同行，以实力竞争。</li>
            <li class="tin-2">为客户提供更多的行业信息</li>
            <li class="tin-2">诚信、守时、合作共赢</li>
            <li class="tin-2">合约之外不收取费用。</li>
        </ul>
        <div class="row qyjj">
            <ul>
                <li class="col-md-6 col-xs-12"><img src="/static/images/jybg35.jpg" /></li>
                <li class="col-md-6 col-xs-12"><img src="/static/images/jybg36.jpg" /></li>
            </ul>
        </div>
    </div>
</div>
<div class="us-adress">
    <div class="container clearfix">
        <div class="col-md-6 col-xs-12 text-right">
            <img src="/static/images/jxhzewm.png" width="30%" />
        </div>
        <ul class="col-md-6 col-xs-12">
            <li>广州联检认证技术开发服务有限公司</li>
            <li>地址：广州市黄埔区黄埔东路728号312室</li>
            <li>电话：020-32128600转0</li>
            <li>传真：020-32128608</li>
            <li>E-mail：gzlianjian@qq.com</li>
        </ul>
    </div>
</div>


{include file='public::footer'}