<footer itemtype="https://schema.org/WPFooter" itemscope="itemscope" id="colophon" role="contentinfo">
    <div class='footer-width-fixer'>
        <div class="elementor elementor-733">
            <div class="elementor-inner">
                <div class="elementor-section-wrap">
                    <section data-id="1c2580f0"
                             class="elementor-element elementor-element-1c2580f0 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
                             data-settings="{&quot;background_background&quot;:&quot;classic&quot;}"
                             data-element_type="section">
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-row">
                                <div data-id="503a906d"
                                     class="elementor-element elementor-element-503a906d elementor-column elementor-col-50 elementor-top-column"
                                     data-element_type="column">
                                    <div class="elementor-column-wrap elementor-element-populated">
                                        <div class="elementor-widget-wrap">
                                            <div data-id="1a07ef2b"
                                                 class="elementor-element elementor-element-1a07ef2b elementor-widget elementor-widget-text-editor"
                                                 data-element_type="text-editor.default">
                                                <div class="elementor-widget-container">
                                                    <div class="elementor-text-editor elementor-clearfix">
                                                        <p>
                                                            <div role="form" class="wpcf7" id="wpcf7-f597-o1"
                                                                 lang="zh-CN" dir="ltr">
                                                                <div class="screen-reader-response"></div>
                                                                <form action=""
                                                                      method="post" class="wpcf7-form"
                                                                      novalidate="novalidate">
                                                                    <div style="display: none;"><input type="hidden"
                                                                                                       name="_wpcf7"
                                                                                                       value="597"/><input
                                                                            type="hidden" name="_wpcf7_version"
                                                                            value="5.0.2"/><input type="hidden"
                                                                                                  name="_wpcf7_locale"
                                                                                                  value="zh_CN"/><input
                                                                            type="hidden" name="_wpcf7_unit_tag"
                                                                            value="wpcf7-f597-o1"/><input
                                                                            type="hidden"
                                                                            name="_wpcf7_container_post" value="0"/>
                                                                    </div>
                                                                    <h2 align="center">在线下单试验费立减</h2>
                                                        <p><label> 公司名称 (必填)<br/> <span
                                                                class="wpcf7-form-control-wrap your-name"><input
                                                                type="text" name="your-name" value="" size="40"
                                                                class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                                                aria-required="true" aria-invalid="false"/></span>
                                                        </label></p>
                                                        <p><label> 您的手机 (必填)<br/><span
                                                                class="wpcf7-form-control-wrap tel-789"><input
                                                                type="tel" name="tel-789" value="" size="20"
                                                                class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel"
                                                                aria-required="true" aria-invalid="false"/></span>
                                                        </label><br/><label>产品型号及规格<br/><span
                                                                class="wpcf7-form-control-wrap textarea-784"><textarea
                                                                name="textarea-784" cols="40" rows="3"
                                                                maxlength="140"
                                                                class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required"
                                                                aria-required="true"
                                                                aria-invalid="false"></textarea></span>
                                                        </label><br/><input type="submit" value="发送"
                                                                            class="wpcf7-form-control wpcf7-submit"/>优惠信息，请咨询在线客服。
                                                        </p>
                                                        <div class="wpcf7-response-output wpcf7-display-none"></div>
                                                        </form>
                                                    </div>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-id="e9e44a0"
                                 class="elementor-element elementor-element-e9e44a0 elementor-column elementor-col-50 elementor-top-column"
                                 data-element_type="column">
                                <div class="elementor-column-wrap elementor-element-populated">
                                    <div class="elementor-widget-wrap">
                                        <div data-id="1c291f26"
                                             class="elementor-element elementor-element-1c291f26 elementor-widget elementor-widget-heading"
                                             data-element_type="heading.default">
                                            <div class="elementor-widget-container">
                                                <h2 class="elementor-heading-title elementor-size-large">联系我们</h2>
                                            </div>
                                        </div>
                                        <div data-id="3d24f864"
                                             class="elementor-element elementor-element-3d24f864 elementor-widget elementor-widget-text-editor"
                                             data-element_type="text-editor.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-text-editor elementor-clearfix">
                                                    <p>
                                                        杭州经线检测技术有限公司是一家专业检测认证咨询服务机构，公司以CQC及各大检测机构专家团队为依托，聚集了一批长期工作在生产一线的技术精英和认证审核员，专注于高低压电器产品标准研究和智能化技术研发。致力于为企业提供产品解决方案、标准导入应用、代理检测认证、计量器具校准相结合的一站式服务。</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div data-id="3b78181b"
                                             class="elementor-element elementor-element-3b78181b elementor-widget elementor-widget-icon-list"
                                             data-element_type="icon-list.default">
                                            <div class="elementor-widget-container">
                                                <ul class="elementor-icon-list-items">
                                                    <li class="elementor-icon-list-item"><a
                                                            href="tel:0571-87213739"><span
                                                            class="elementor-icon-list-icon"><i class="fa fa-phone"
                                                                                                aria-hidden="true"></i></span><span
                                                            class="elementor-icon-list-text">电话：0571-87213739</span></a>
                                                    </li>
                                                    <li class="elementor-icon-list-item"><span
                                                            class="elementor-icon-list-icon"><i class="fa fa-fax"
                                                                                                aria-hidden="true"></i></span><span
                                                            class="elementor-icon-list-text">传真：0571-87910139</span>
                                                    </li>
                                                    <li class="elementor-icon-list-item"><a
                                                            href="tel:18657138989"><span
                                                            class="elementor-icon-list-icon"><i
                                                            class="fa fa-mobile-phone"
                                                            aria-hidden="true"></i></span><span
                                                            class="elementor-icon-list-text">手机：18657138989（微信）</span></a>
                                                    </li>
                                                    <li class="elementor-icon-list-item"><span
                                                            class="elementor-icon-list-icon"><i class="fa fa-qq"
                                                                                                aria-hidden="true"></i></span><span
                                                            class="elementor-icon-list-text">QQ：51332098</span></li>
                                                    <li class="elementor-icon-list-item"><a
                                                            href="javascript:if(confirm('https://weibo.com/u/2218106814?'))window.location='https://weibo.com/u/2218106814'"><span
                                                            class="elementor-icon-list-icon"><i class="fa fa-weibo"
                                                                                                aria-hidden="true"></i></span><span
                                                            class="elementor-icon-list-text">我们的微博</span></a></li>
                                                    <li class="elementor-icon-list-item"><a
                                                            href="mailto:jianglm@gshine.cn"><span
                                                            class="elementor-icon-list-icon"><i
                                                            class="fa fa-envelope"
                                                            aria-hidden="true"></i></span><span
                                                            class="elementor-icon-list-text">邮箱：jianglm@gshine.cn</span></a>
                                                    </li>
                                                    <li class="elementor-icon-list-item"><span
                                                            class="elementor-icon-list-icon"><i
                                                            class="fa fa-map-marker"
                                                            aria-hidden="true"></i></span><span
                                                            class="elementor-icon-list-text">地址：浙江省杭州市拱墅区祥园路39-2号</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</footer>
</div>
</div>
<script src="/static/js/bootstrap.min.js"></script>
<script type='text/javascript' src="/static/wp-content/plugins/contact-form-7/includes/js/scripts.js-ver=5.0.2"></script>
<script type='text/javascript' src="/static/wp-content/plugins/elements-plus/assets/js/jquery.justifiedGallery.min.js-ver=3.6.3"></script>
<script type='text/javascript' src="/static/wp-content/plugins/elements-plus/assets/js/ep-scripts.js-ver=1.0.0"></script>
<script type='text/javascript' src="/static/wp-content/plugins/elementor/assets/lib/slick/slick.min.js-ver=1.8.1"></script>
<script type='text/javascript' src="/static/wp-content/plugins/navmenu-addon-for-elementor/assets/js/modernizr.custom.js-ver=1.1.2"></script>
<script type='text/javascript' src="/static/wp-includes/js/jquery/ui/position.min.js-ver=1.11.4"></script>
<script type='text/javascript' src="/static/wp-content/plugins/elementor/assets/lib/dialog/dialog.min.js-ver=4.3.2"></script>
<script type='text/javascript' src="/static/wp-content/plugins/elementor/assets/lib/waypoints/waypoints.min.js-ver=4.0.2"></script>
<script type='text/javascript' src="/static/wp-content/plugins/elementor/assets/lib/swiper/swiper.jquery.min.js-ver=3.4.2"></script>
<script type='text/javascript' src="/static/wp-content/themes/astra/assets/js/minified/style.min.js-ver=1.3.3"></script>
<script type='text/javascript'>
    var wpcf7 = {
        "apiSettings": {
            "root": "http:\/\/www.hznk.cn\/wp-json\/contact-form-7\/v1",
            "namespace": "contact-form-7\/v1"
        },
        "recaptcha": {
            "messages": {
                "empty": "Please verify that you are not a robot."
            }
        }
    };
</script>
<script type='text/javascript' src="/static/wp-content/plugins/navmenu-addon-for-elementor/assets/js/frontend.min.js-ver=1.1.2"></script>
<script type='text/javascript' src="/static/wp-content/plugins/elementor/assets/js/frontend.min.js-ver=2.0.16"></script>
<script type='text/javascript'>
    var ElementorMenusFrontendConfig = {
        "ajaxurl": "http:\/\/www.hznk.cn\/wp-admin\/admin-ajax.php",
        "nonce": "a6a19217d3"
    };
    var elementorScreenReaderText = {
        "expand": "expand child menu",
        "collapse": "collapse child menu"
    };
    var elementorSecondaryScreenReaderText = {
        "expand": "expand child menu",
        "collapse": "collapse child menu"
    };
</script>
</body>

</html>